.dialog-component {
  background-color: var(--neutral-lighter-color);
  border-radius: 2px;
}

.dialog-h2 {
  color: var(--neutral-dark-color);
}

.dialog-message {
  color: var(--neutral-medium-color);
}

.btn-close {
  background-color: var(--feedback-error-color);
}
